name: Send Outlook Email

on:
  workflow_dispatch:

jobs:
  send-email:
    runs-on: ubuntu-latest
    steps:
      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.office365.com
          server_port: 587
          secure: false
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "GitHub Outlook Test"
          to: shaunak007@live.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
            Hello,
            This email was sent from GitHub using Outlook SMTP.
